.month-view-day-column {
    width: 14%;
    text-align: center !important;
}

.day-cell {
    vertical-align: top;
}

.day-cell:hover {
    background-color: #A0A0A0;
}

.month-cell {
    width: 25%;
}

.date-display {
    font-size: 16px;
    color: white;
}

.previous-month, .next-month {
    opacity: 0.3;
}

.month-total {
    font-size: 40px;
    padding: 40px 0;
    text-align: center;
}

.exceeded {
    color: red;
}

td:hover {
    cursor: pointer;
    background-color: #2185d0;
}

.no-payment {
    display: none;
    text-align: center;
    font-size: 16px;
    padding: 20px 0;
}